@import 'https://fonts.googleapis.com/css2?family=Bungee&family=Montserrat:wght@100..900&display=swap';
@import 'https://rsms.me/inter/inter.css';

html {
  background-color: var(--background-base);
  height: 100%;
  font-size: 18px;
  overflow-x: hidden;
  font-family: var(--font-family);
  font-feature-settings: 'liga' 1, 'calt' 1, "cv11";
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    line-height: 1.5rem;
    font-weight: var(--font-weight-normal);
    font-optical-sizing: auto;
    color: var(--text-base);
    background: var(--gradient-surface);
    background-position: 0% 0%;
    background-size: 100% 100%;
    background-attachment: fixed;;
    margin: 0;
    padding: 0;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

a {
  cursor: pointer;
  color: var(--primary-color-50);
  text-decoration: underline;

  &:hover {
    color: var(--text-base);
  }
}

h1,h2,h3,h4,h5 {

  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-heading);
  line-height: 1.5;
  margin-bottom: .333em;

  /* text-transform: uppercase; */

  & a {
    text-decoration: none;
  } 
}

p {
  margin-bottom: 1.66rem;
}

::selection {
  background-color: var(--primary-color-50);
}