:global(.h-margin-top) {
  margin-top: var(--spacing);
}
:global(.h-margin-top-xl) {
  margin-top: var(--spacing-xl);
}
:global(.h-margin-bottom) {
  margin-bottom: var(--spacing);
}
:global(.h-margin-bottom-xl) {
  margin-bottom: var(--spacing-xl);
}