{
  "extends": [
    "stylelint-config-standard-scss",
    "stylelint-config-recommended-vue/scss",
    "stylelint-config-css-modules"
  ],
  "rules": {
    "declaration-empty-line-before": null,
    "selector-class-pattern": [
      "^[a-z]([a-z0-9-]+)?(__([a-z0-9]+-?)+)?(--([a-z0-9]+-?)+){0,2}$",
      {
        "message": "Expected BEM naming convention for class."
      }
    ],
    "keyframes-name-pattern": [
      "^[a-z][a-zA-Z0-9]+$",
      {
        "message": "Expected lowerCamelCase for keyframe names "
      }
    ],
    "at-rule-no-unknown": null,
    "function-no-unknown": null,
    "declaration-block-no-redundant-longhand-properties":[
      true,
      {
        "ignoreShorthands": ["overflow"]
      }
    ]
  }
}