.button {
    --background-color: var(--secondary-surface);
    --color: var(--secondary-on-surface);
    --content-height: var(--spacing-xxl);
    --padding-y: var(--spacing);
    --padding-x: var(--spacing);
    --icon-size: var(--spacing-xl);
    --font-size: --font-size-base;

    background-color: var(--background-color);
    border: 0;

    cursor: pointer;
    color: var(--color);
    display: inline-flex;
    align-items: center;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size);
    font-family: var(--font-family-slab);
    line-height: 1;
    padding: var(--padding-y) var(--padding-x);
    vertical-align: middle;
    position: relative;
    transition: all var(--duration-micro-fast) var(--easing-transition);
    text-decoration: none;
    font-style:normal;
    overflow: hidden;
    white-space: nowrap;

    &:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 100%;
        background-color: var(--opacity-surface);
        z-index: 0;
        width: 100%;
        height: 100%;
        transition: transform var(--duration-micro-fast) var(--easing-transition);
        will-change: transform;
    }

    &:hover {
        --background-color: var(--primary-surface-state-1);
        &:before {
            transform: translateY(-100%) translateZ(0);
        }
    }

    &:active {
        --background-color: var(--primary-surface-state-2);
    }

    &__content {
        clip-path: view-box;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: var(--spacing);
        height: var(--content-height);
        padding: var(--padding-y) var(--padding-x);
        position: relative;
        z-index: 0;
        width: 100%;
    }

    &__icon {
        display: flex;

        &--left {
            margin-right: var(--spacing);
        }

        &--right {
            margin-left: var(--spacing);
        }
        svg {
            margin: 0 calc(var(--spacing-s) * -1);
            width: var(--icon-size);
            height: var(--icon-size);
            stroke-width: 1.5;
        }
    }

    &--rounded {
        border-radius: 100%;
    }

    &--cta {
        background: var(--hr-gradient);

        &:hover {
            --background-color: var(--primary-cta-state-1);
        }
        &:active {
            --background-color: var(--primary-cta-state-2);
        }
    }

    &--with-border {
      box-shadow: inset 0px 0px 0px 1px var(--text-base);
      color: var(--text-base);
    }

    &--styleless {
      background-color: transparent;
      font-family: var(--font-family);
      text-transform: none;
      font-weight: var(--font-weight-normal);

      .button__content {
          height: auto;
          // padding: 0;
      }
    }

    &--opacity {
      background-color: var(--opacity-surface);
    }

    &--transparent {
      background-color: transparent;
    }

    &--big {
        --content-height: var(--spacing-xxxl);
        --padding-x: var(--spacing-xxl);
        --font-size: var(--font-size-large);
    }
}