.button {
    --background-color: var(--opacity-surface);
    --border-color: transparent;
    --color: var(--text-base);
    --content-height: var(--spacing-xxl);
    --padding-y: var(--spacing);
    --padding-x: var(--spacing);
    --icon-size: var(--spacing-xl);
    --font-size: --font-size-base;

    background-color: var(--background-color);
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    color: var(--color);
    display: inline-flex;
    align-items: center;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size);
    font-family: var(--font-family-slab);
    padding: var(--padding-y) var(--padding-x);
    vertical-align: middle;
    position: relative;
    transition: all var(--duration-micro-fast) var(--easing-transition);
    overflow: hidden;
    white-space: nowrap;

    &:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 100%;
        background-color: var(--opacity-surface);
        z-index: 0;
        width: 100%;
        height: 100%;
        transition: transform var(--duration-micro-fast) var(--easing-transition);
        will-change: transform;
    }

    &:hover {
        --background-color: var(--opacity-surface-state-1);
        &:before {
            transform: translateY(-100%) translateZ(0);
        }
    }

    &:active {
        --background-color: var(--opacity-surface-state-2);
    }

    &__content {
        clip-path: view-box;
        display: flex;
        align-items: center;
        gap: var(--spacing);
        height: var(--content-height);
        padding: var(--padding-y) var(--padding-x);
        position: relative;
        z-index: 1;
    }

    &__icon {
        display: flex;
        margin-left: var(--spacing);

        svg {
            margin: 0 calc(var(--spacing-s) * -1);
            width: var(--icon-size);
            height: var(--icon-size);
            stroke-width: 1.5;
        }
    }

    &--rounded {
        border-radius: var(--border-radius);
    }

    &--filled {
        --background-color: var(--background-base);
        --border-color: var(--border-subtle);
        --color: var(--text-base);
    }

    &--cta {
        background: var(--hr-gradient);

        &:hover {
            --background-color: var(--primary-cta-state-1);
        }
        &:active {
            --background-color: var(--primary-cta-state-2);
        }
    }

    &--white {
        --background-color: var(--secondary-base);
        --box-shadow: var(--box-shadow-elevation-1);
        color: var(--hr-red);

        .button__content {
            background: var(--hr-gradient);
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        &:hover {
            background: var(--secondary-base);
        }
        &:active {
            --background-color: var(--primary-cta-state-2);
        }
    }

    &--transparent {
        --background-color: transparent;
        --border-color: transparent;
    }

    &--styleless {
        font-family: var(--font-family);
        text-transform: none;
        font-weight: normal;

        .button__content {
            height: auto;
            // padding: 0;
        }
    }

    &--big {
        --content-height: var(--spacing-xxxl);
        --padding-x: var(--spacing-xxl);
        --font-size: var(--font-size-large);
    }
}